{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

    <a href="/user/{{ user.id }}/add-action">Ajouter une action</a>

    <p>
        <a href="{{ path('eco_list') }}">Retour à la liste</a>
    </p>
{% endblock %}